<div class="po-wrapper">
    <po-toolbar p-title="DressUp > Sobre"></po-toolbar>

    <po-menu [p-menus]="menus" [p-collapsed]="true" p-fliter="true" p-logo="./assets/images/dressup.png"></po-menu>

    <po-page-default>
        <div class = 'po-row'>
            <po-widget class = 'po-sm-6' [p-height]='250' p-title="Sobre o software">
                Inicialmente, o DressUp foi pensado como um projeto unica e simplesmente para cumprir com o trabalho de conclusão de curso da faculdade.
                <br>
                No entanto, a ideia de um closet online que facilita a organização e formação de conjuntos de roupas é tão inspiradora que a equipe de desenvolvedoras resolveu levar o projeto adiante.
                <br>
                Hoje, o software encontra-se em desenvolvimento, e possui planos de melhorias futuras.
            </po-widget>
            <po-widget class = 'po-sm-6' [p-height]='250' p-background="../../../assets/images/dressup.png"></po-widget>
        </div>
        <div class = 'po-row'>
            <po-widget class = 'po-sm-6' [p-height]='250' p-background="../../../assets/images/fatec.png"></po-widget>
            <po-widget class = 'po-sm-6' [p-height]='250' p-title="Quem somos">
                A equipe de desenvolvimento é formada por alunas da Faculdade de Tecnologia de Ribeirão Preto.
                <br>
                Vitoria Mercado           2840482313042
                <br>
                Patricia Ferreira         2840482223036
            </po-widget>
        </div>
    </po-page-default>
</div>