<header> 
    <nav class="navbar fixed-top navbar-dark bg-primary">
        <a class="navbar-brand">Dress Up App</a>
    </nav>
</header>

<section>
    <main class="container">
        
    </main>
</section>

<footer class="mt-2 p-2 text-center">
    <a> Vista-se com estilo e agilidade!</a>
</footer>

<div class="po-m-5">          
    <po-input  name="nomeDigitado" [(ngModel)]="nomeDigitado" p-label="Nome" p-placeholder="Digite seu nome."></po-input>
    <po-input  name="emailDigitado" [(ngModel)]="emailDigitado" p-label="E-mail" p-placeholder="Digite seu e-mail."></po-input>
    <po-input  name="senhaDigitada" [(ngModel)]="senhaDigitada" p-label="Senha" p-placeholder="Digite sua senha."></po-input>

    <po-button p-label="Salvar" (p-click)="onClick()"></po-button>
</div>
