<header> 
    <nav class="navbar fixed-top navbar-dark bg-primary">
        <a class="navbar-brand">Dress Up App</a>
    </nav>
</header>

<section>
    <main class="container">
        
    </main>
</section>

<footer class="mt-2 p-2 text-center">
    <a> Vista-se com estilo e agilidade!</a>
</footer>

<po-dynamic-form [p-fields]="[{ property: 'Nome', required: true, showRequired: true }]"> </po-dynamic-form>
<po-dynamic-form [p-fields]="[{ property: 'Email', required: true, showRequired: true }]"> </po-dynamic-form>
<po-dynamic-form [p-fields]="[{ property: 'Senha', required: true, showRequired: true }]"> </po-dynamic-form>
<po-button p-label="Salvar" (p-click)="onClick()"></po-button>